{
	"env": {
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module"
	},
	"rules": {
		"prefer-const": "off"
	},
	"overrides": [
		{
			"files": ["**/*.ts"],
			"extends": [
				"plugin:@typescript-eslint/eslint-recommended",
				"plugin:@typescript-eslint/recommended"
			],
			"parser": "@typescript-eslint/parser",
			"plugins": ["@typescript-eslint"],
			"rules": {
				"prefer-const": "off",
				"no-shadow": "off",
				"@typescript-eslint/no-shadow": "error"
			}
		}
	]
}
